body {
  background-color: #f4f7f8;
}

.my-navbar-brand {
  font-size: 25px;
}

.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
  white-space: nowrap;
  width: 1px;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #fff;
}
.alert p {
  margin-bottom: 0;
}
